<app-navbar></app-navbar>
<section class="container  bg-light">
  <div class="row p-2 p-md-3 mt-2 text-light rounded bg-blueClr">
    <div class="col-md-12">
      <h1 class="fw-bold">Message</h1>
    </div>
  </div>
  <div class="row p-2 p-md-3">
    <div class="col-md-12">
      <p class="lead fst-italic">See upcoming and past events booked through your event type links.</p>
    </div>
    <div class="col-md-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">Requested</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
            role="tab" aria-controls="profile" aria-selected="false">Request Received</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="row  mx-1 my-2">
            <div class="col-md-12 mb-2 text-dark rounded bg-white border border-1 shadow-sm bg-body rounded">
              <div class="card my-3">
                <div class="row g-0">
                  <div class="col-md-2">
                    <img src="https://cdn.britannica.com/36/123536-050-95CB0C6E/Variety-fruits-vegetables.jpg"
                      class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-10 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center ">
                    <div class="card-body">
                      <div class="head d-flex">
                        <div class="left">
                            <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" width="60" className="rounded-circle" />
                        </div>
                        <div class="right mx-2">
                           
                          <h6 class="fw-bold">LOTUS BISWAS</h6>
                          <p class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> 7.0 KM away </p>
      
                        </div>
                       </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. </p>
                      <p class="card-text"><small class="text-muted">3 mins ago</small></p>
                    </div>
                    <div class="btn-toolbar ">
                      <div class="btn-group me-2 ">
                        <a href="request/:id"  class="btn btn-secondary" style="margin-right: 4px;"><i class="fa fa-eye" aria-hidden="true"></i> View Listing</a>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                          <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </button>
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                              <div class="modal-header">
                                <div class="head d-flex">
                                  <div class="left">
                                      <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" width="60" className="rounded-circle" />
                                  </div>
                                  <div class="right mx-2">
                                     
                                    <h6 class="fw-bold">LOTUS BISWAS</h6>
                                    <p class="text-muted"><i class="fa fa-map-marker" aria-hidden="true"></i> 7.0 KM away </p>
                
                                  </div>
                                 </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              
                              </div>   
                              <div class="requested-item-desc m-2">
                                <h6 class="modal-title fw-bold" id="staticBackdropLabel">CHICKEN WINGS</h6>
                                <p class=""><i class="fa fa-clock-o" aria-hidden="true"></i> Pick Up: Any Time until 11pm</p>
                                <hr>
                              </div> 
                              
                              <div class="modal-body">
                              <p><span>Lotus : </span> Hey, Are you there ?</p>
                              <p><span>You : </span> Yes, I am here.</p>
                              <p><span>Lotus : </span> Hey, Are you there ?</p>
                              <p><span>You : </span> Yes, I am here.</p>
                              <p><span>Lotus : </span> Hey, Are you there ?</p>
                              <p><span>You : </span> Yes, I am here.</p>
                              <p><span>Lotus : </span> Hey, Are you there ?</p>
                              <p><span>You : </span> Yes, I am here.</p>
                              <p><span>Lotus : </span> Hey, Are you there ?</p>
                              <p><span>You : </span> Yes, I am here.</p>
                              </div>
                               
                              <div class="send-message ">
                                <hr>
                                <div class="col-sm-12 m-2">
                                  <div class="row">
                                  
                                      <div class="col-lg-10 col-md-8 col-sm-8 col-8"> 
                                        <textarea class="form-control" name="aboutYou" placeholder="Type Here .."
                                        rows="1"></textarea>
                                      </div>
                                      
                                      <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                                        <button class="btn btn-dark" style="margin-right: 4px;"><i class="fa fa-paper-plane-o" ></i></button>
                                        <button class="btn btn-dark" style="margin-right: 4px;"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
                                
                                    </div>
                                  
                                  </div>
                                 
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
      </div>
    </div>
  </div>

</section>
