<app-navbar></app-navbar>
<section class="container">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                        
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12"></div>
    </div>
</section>