<app-navbar></app-navbar>

<section class="container mb-5 mt-2">
  
    <div class="row">
      <div class="col-12 bg-light  mb-3 pt-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb fs-5">
            <li class="breadcrumb-item"><a href="listing">Listing</a></li>
            <li class="breadcrumb-item active" aria-current="page">Listing Details</li>
          </ol>
        </nav>
      </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12 my-auto">
            <div class="item-image ">
                <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
                    <div class="carousel-inner ">
                      <div *ngFor="let list of freeListing[0].picture; index as mdx" class="carousel-item" [class.active]="mdx==0?true:false">
                        <img src="{{freeListing[0].picture[mdx]}}" class="d-block w-100" alt="...">
                        <p>{{freeListing[0].picture[list]}}</p>
                      </div>
                   
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-12 mt-lg-0 mt-md-4 mt-4">
           
           <div class="head d-flex">
            <div class="left">
                <img src="{{this.user[1].profilePicture}}" width="60" className="rounded-circle" />
            </div>
            <div class="right mx-2">
               
              <h5>{{this.user[1].firstName}} {{this.user[1].lastName}} is giving away</h5>
              <h6 class="fw-bold">{{this.freeListing[0].title}}</h6>
             
            </div>
           </div>
           <div class="body">
            <div class="miscellaneous mt-2">
              
                <p class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> Added {{ freeListing[0].updatedAt |  date:'MMM d, y, h:mm a' }} | <i class="fa fa-map-marker" aria-hidden="true"></i> 7.0 KM away </p>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary "><i class="fa fa-share-square-o" aria-hidden="true"></i> Share</button>
                    <button type="button" class="btn btn-outline-danger" (click)="addLikeFreeListItem(freeListing[0]._id, this.userToken)" *ngIf="this.likesListing == false; else elseBlock">
                      <span><i class="fa fa-heart-o" aria-hidden="true"></i></span> {{this.countLikesListing.length}} Like </button>
                      <ng-template #elseBlock>
                        <button type="button" class="btn btn-danger" (click)="removeLikeFreeListing(freeListing[0]._id, this.userToken)">
                          <span><i class="fa fa-heart-o" aria-hidden="true"></i></span> {{this.countLikesListing.length}} Like</button>
                      </ng-template>
                  </div>
             
            </div>
            
            <div class="desc mt-3">
              <p *ngIf="this.freeListing[0].category == 'Food'; else elseBlock">
                <span class="badge bg-success">Food</span>
              </p>
              <ng-template #elseBlock>
                <p>
                  <span class="badge bg-warning">Non - Food</span>
                </p>
              </ng-template>
              
                <p>{{this.freeListing[0].description}}</p>
            </div>
            <div class="pickUpTime">
                <h6 class="fw-bold">PICK UP TIME</h6>
                <p>Any Time until 11pm</p>
            </div>
           
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
            <h6 class="fw-bold">APPROX. LOCATION <span class="badge bg-info text-dark location-link"><a href="http://maps.google.com/?q={{this.freeListing[0].location.lat}},{{this.freeListing[0].location.lng}}" target="_blank">Click to get direction</a></span></h6>
            <div id="map" class="map-container"></div>
        </div>
        <a href="request" class="w-100 btn btn-primary btn-lg"><i class="fa fa-envelope" aria-hidden="true"></i> Request this</a>
        
    </div>
 
</section>