.map-container {
    width: 100%;
    height: 240px;
    position: relative;
  }
  img {
    max-inline-size: 100%;
    block-size: auto;
  }
  .location-link a{
    text-decoration: none;
    color: white;
  }
  .carousel-control-prev-icon {
    background-color: turquoise;
    }
  .carousel-control-next-icon {
  background-color: turquoise;
  }

  .img-item{
    width: 150px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: contain;
  }