.tab-content{
    height: 78vh;
    overflow-x: hidden;
    overflow-x: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}


.tab-content::-webkit-scrollbar {
    width: 10px;  
    background: transparent; 
}

.tab-content::-webkit-scrollbar-thumb {
    background: #f0ecec03;
}
.listings .find-out-more{
    background-color: tomato;
    color: white;
    border-radius: 10px;
}
