
.card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: 1px solid rgba(0, 0, 0, 0.322);
}
.card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.2s;
}


.icon-bar {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.free {
  background: #1ead76;
  color: white;
}

.borrow {
  background: #af56e2;
  color: white;
}

.wanted {
  background: #cfdd39;
  color: white;
}

.card-img-top{
  padding: 10px 10px 0 10px;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
}

.tab-pane .badge{
  position: absolute;
  top: 8px;
  right: 16px;
}