<app-navbar></app-navbar>

<div class="container bg-light">
    <div class="row p-2 p-md-3 mt-2 text-light rounded bg-blueClr">
        <div class="col-md-12">
            <h1 class="fw-bold"><i class="fa fa-map-marker" aria-hidden="true"></i> My Location</h1>
        </div>
    </div>
    <div class="row p-2 p-md-3">
    
        <div class="col-md-12">

            <div class="mt-2 py-2">
                           
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 mb-4">
                  <div id="map" class="map-container"></div>
              </div>
         

          <button class="w-100 btn btn-primary btn-lg"   type="submit" >Set home location</button>
    
  </div>
        </div>
    </div>