<app-navbar></app-navbar>

<section class="container">
    <div class="p-4 p-md-5 mb-4 text-dark rounded home-first-intro shadow bg-body rounded">
        <div class="col-md-6 col-sm-12 px-0 ">
          <h1 class="display-6 fst-italic">Join the #1 free sharing app</h1>
          <p class="lead mt-3">Join millions of neighbours all over the world who are using OLIO to share more, care more and waste less.

            Give & get free stuff and borrow & lend household items – all directly from your community.</p>

            <p  class="lead"> Fight waste. Help your neighbours. Save our planet. Feel amazing!</p>
          <a href="listing" class="btn btn-dark lead mb-0  btn-lg">Get Started Now</a>
        </div>
      </div>
</section>