.home-first-intro{
    background-image: url("../../../assets/images/bg-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }

    .karmaWinner {
        position: relative;
    }
    
    
    .karmaWinner #img1{
        position: absolute;
        top: 3px;
    }