<header class="navbar-light bg-white sticky-top p-2  border-bottom">
  
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none logo">
        <img src="../../../assets/images/logo/onlyIcon.png" width="50px" alt="">
      </a>

      <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0 me-md-4">
        <li><a href="listing" class="nav-link px-2 link-dark">Listings</a></li>
        <li><a href="map" class="nav-link px-2 link-dark">Map</a></li>
        <li><a href="request" class="nav-link px-2 link-dark">Request</a></li>
        <li><a href="settings" class="nav-link px-2 link-dark">Settings</a></li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="{{profilePicture}}" alt="mdo" width="42" height="42" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">Welcome : {{currentUser}}</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="my-location" >My Location</a></li>
          <li><a class="dropdown-item" href="my-listing">My Listing</a></li>
          <li><a class="dropdown-item" href="karma-points">Karma Points</a></li>
          
          <li><a class="dropdown-item" href="#" (click)="logoutUser()"> Users Near Me</a></li>
          <li><a class="dropdown-item" href="#" (click)="logoutUser()"><i class="fa fa-sign-out" aria-hidden="true"></i>
              Sign Out</a></li>
        </ul>

      </div>
      
    </div>
  </div>

</header>
