<app-navbar></app-navbar>
<section class="container  bg-light">
    <div class="row p-2 p-md-3 mt-2 text-light rounded bg-main">
      <div class="col-md-12">
        <h1 class="fw-bold"><i class="fa fa-list" aria-hidden="true"></i> My Listing</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12  pt-2">
        <p class="lead fst-italic">See all listing you have added, edit and remove if you want.</p>
      </div>
      <div class="col-md-12">
        <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Free Listing</button>
          </li>
          <li>
            <button class="nav-link" id="freeBorrow-tab" data-bs-toggle="tab" data-bs-target="#freeBorrow" type="button" role="tab" aria-controls="freeBorrow" aria-selected="true">Borrow</button>
          </li>
          <li>
              <button class="nav-link" id="freeWanted-tab" data-bs-toggle="tab" data-bs-target="#freeWanted" type="button" role="tab" aria-controls="freeWanted" aria-selected="true">Wanted</button>
         
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            
            <div class="row mx-1 my-2" *ngIf="freeListing?.length == 1; else noListingBlock">
              <div class="col-md-12 mb-2 text-dark rounded bg-white border border-1 shadow-sm bg-body rounded" *ngFor="let list of freeListing">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4  ">
                  <div>
                    <div class="head d-flex">
                      <div class="left">
                          <img src="{{list.picture[0]}}" width="100" className="rounded-circle" />
                      </div>
                      <div class="right mx-2 my-auto">
                        <h6 class="fw-bold">{{list.title}}</h6>
                        <span class="text-muted" *ngIf="list.category =='Food'; else elseBlock">  <span class="badge bg-success">Food</span> </span>
                        <ng-template #elseBlock>
                            <span class="text-muted">  <span class="badge bg-warning">Non - Food</span> </span>
                        </ng-template>
                    </div>
                     </div>
                    <div class="mt-3">
                      <span class="text-muted mt-2"><i class="fa fa-clock-o" aria-hidden="true"></i> Last Updated {{ list.updatedAt |  date:'MMM d, y, h:mm a' }} </span>
                      <br/>
                      <p class="mb-2">{{ (list.description.length>100)? (list.description | slice:0:100)+'..':(list.description) }} </p>
                      <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ list.createdAt |  date: 'MMM d, y, h:mm a' }}</span>
                     
                    </div>
                  </div>
                  <div>
                    <div class="btn-toolbar mt-2 mb-2 mb-md-0">
                      <div class="btn-group me-2 ">
                        <button type="button" *ngIf="list.disable == false; else elseBlockDisableStatus" class="btn btn-secondary" style="margin-right: 4px;"  (click)="disableStatusListingOnClick(list._id, list.userToken, true)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <ng-template #elseBlockDisableStatus>
                          <button type="button" class="btn btn-secondary" style="margin-right: 4px;"  (click)="disableStatusListingOnClick(list._id, list.userToken, false)"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                        </ng-template>
                         
                       <a href="free/edit-listing/{{list._id}}"  class="btn btn-warning" style="margin-right: 4px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                         <button type="button" class="btn btn-danger" (click)="removeUserFreeListItem(list._id, list.userToken)"><i class="fa fa-trash" aria-hidden="true" ></i> Delete</button>
                      </div>
                    
                    </div>
                    
                  </div>
                </div>
          </div>
        </div>
        <ng-template #noListingBlock>
          <div class="row  mx-1 my-2">
            <div class="col-md-12 mb-2 text-dark bg-white border border-1 shadow-sm bg-body rounded">
              <div class=" pt-5 pb-5 text-center ">
                <img src="https://byblosmiami.com/wp-content/plugins/elementor/assets/images/no-search-results.svg"
                  alt="" class="pb-4">
              </div>
            </div>
          </div>
        </ng-template>
  
          </div>
          <div class="tab-pane fade show" id="freeBorrow" role="tabpanel" aria-labelledby="freeBorrow-tab">
            <div class="row mx-1 my-2" *ngIf="freeBorrow?.length == 1; else noBorrowBlock">
              <div class="col-md-12 mb-2 text-dark rounded bg-white border border-1 shadow-sm bg-body rounded" *ngFor="let list of freeBorrow">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-4  ">
                  <div>
                    <div class="head d-flex">
                      <div class="left">
                          <img src="{{list.picture[0]}}" width="100" className="rounded-circle" />
                      </div>
                      <div class="right mx-2 my-auto">
                        <h6 class="fw-bold">{{list.title}}</h6>
                       
                    </div>
                     </div>
                    <div class="mt-3">
                      <span class="text-muted mt-2"><i class="fa fa-clock-o" aria-hidden="true"></i> Last Updated {{ list.updatedAt |  date:'MMM d, y, h:mm a' }} </span>
                      <br/>
                      <p class="mb-2">{{ (list.description.length>100)? (list.description | slice:0:100)+'..':(list.description) }} </p>
                      <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ list.createdAt |  date: 'MMM d, y, h:mm a' }}</span>
                     
                    </div>
                  </div>
                  <div>
                    <div class="btn-toolbar mt-2 mb-2 mb-md-0">
                      <div class="btn-group me-2 ">
                        <button type="button" *ngIf="list.disable == false; else elseBlockDisableStatus" class="btn btn-secondary" style="margin-right: 4px;"  (click)="disableStatusBorrowListingOnClick(list._id, list.userToken, true)"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        <ng-template #elseBlockDisableStatus>
                          <button type="button" class="btn btn-secondary" style="margin-right: 4px;"  (click)="disableStatusBorrowListingOnClick(list._id, list.userToken, false)"><i class="fa fa-eye-slash" aria-hidden="true"></i></button>
                        </ng-template>
                         
                       <a href="free/edit-borrow/{{list._id}}"  class="btn btn-warning" style="margin-right: 4px;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                         <button type="button" class="btn btn-danger" (click)="removeUserFreeBorrowItem(list._id, list.userToken)"><i class="fa fa-trash" aria-hidden="true" ></i> Delete</button>
                      </div>
                    
                    </div>
                    
                  </div>
                </div>
          </div>
        </div>
        <ng-template #noBorrowBlock>
          <div class="row  mx-1 my-2">
            <div class="col-md-12 mb-2 text-dark bg-white border border-1 shadow-sm bg-body rounded">
              <div class=" pt-5 pb-5 text-center ">
                <img src="https://byblosmiami.com/wp-content/plugins/elementor/assets/images/no-search-results.svg"
                  alt="" class="pb-4">
              </div>
            </div>
          </div>
        </ng-template>
          </div>
          <div class="tab-pane fade show" id="freeWanted" role="tabpanel" aria-labelledby="freeWanted-tab">
            Free freeWanted
          </div>
        </div>
      </div>
  </div>
  </section>