<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 d-flex justify-content-center my-auto py-4 order-lg-1 order-2">
                <div class="text-center ">
                    <div class="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Olio_logo_new.png" width="140px" alt="">
                        <h1 class="mt-4 fw-bold">Login</h1>
                        <p class="fs-5">Join the #1 free sharing app</p>
                    </div>

                    <div class="mt-4">
                        <asl-google-signin-button *ngIf="!user" type='standard' size='medium' width="300"
                            theme="filled_blue" class="mx-auto"></asl-google-signin-button>

                        <div *ngIf="user">
                            <button type="button" disabled="true" class="btn btn-success fs-5">Logging you in..</button>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 bg-dark rrder-lg-2 order-1 vh-100"></div>
        </div>
    </div>
</section>