/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spectral', serif;

}

.link-direct {
  text-decoration: none;
  color: black;
}

.link-direct:hover {
  color: black;
}

.bg-blueClr {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
}

.marker {
  background-image: url('https://img.icons8.com/flat-round/2x/home.png');
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.mapboxgl-popup-content {
  position: relative;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 25px;
  pointer-events: auto;
  
}

.mapboxgl-popup-close-button {
    padding: 8px;
}
